.meal-form {
float: right;
}
.meal-form label {
padding: 0.4rem;

}
.meal-form input {
border-radius: 0.3rem;
max-width: 2rem;
height: 1.7rem;
justify-content: center;
text-align: center;
}
.meal-form button {
border-radius: 0.8rem;
width: 4rem;
padding: 0.3rem;
font-weight: bold;
margin: 1rem;
}
.meal-form button:hover {
background-color: rgb(85, 21, 5);
color: white;
}